<div class="denied-body">
    <div class="denied-container">
    
        <h2>Acceso No Autorizado</h2>
        <p>No tienes permiso para acceder a esta página.</p>
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Volver al Inicio</a>
    
    </div>
</div>